.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffec8b;
  width: 100%;
  font-size: xx-large;
  color: #ff6a6a;
  margin-bottom: 20px;
}
