.GamePlay {
  display: flex;
  flex-direction: row;
}

.GamePlay .gameCanvas {
  border: 1px solid gray;
}

.GamePlay .resultCanvas {
  border: 1px solid gray;
}

.GamePlay .options {
  margin-top: 10px;
}

.GamePlay .options button {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.GamePlay .section {
  margin: 10px;
}

.GamePlay .section .message {
  padding: 10px;
  background-color: #fcdda8;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #222;
}
