.GameInfoCard {
  overflow: hidden;
  width: 200px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.GameInfoCard:hover {
  cursor: pointer;
  box-shadow: 0 0 5px lightgray;
}

.GameInfoCard img {
  height: 250px;
  width: 100%;
}

.GameInfoCard h3 {
  font-weight: normal;
  margin: 0;
  background-color: #241f24;
  color: white;
  padding: 5px;
}
