.GameInfoCard {
  overflow: hidden;
  width: 200px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.GameInfoCard img {
  height: 250px;
  width: 100%;
}

.GameInfoCard label {
  font-size: Large;
}
