.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App main {
  max-width: 1000px;
  width: 50vw;
  display: inline;
}

.App .gameInfoCard {
  display: inline-block;
}
